[Desktop Entry]
Comment=Plasma Timekpr
Comment[ast]=Plasma Timekpr
Comment[ca@valencia]=Plasma Timekpr
Comment[ca]=Plasma Timekpr
Comment[cs]=Plasma Timekpr
Comment[da]=Plasma Timekpr
Comment[de]=Plasma Timekpr
Comment[el]=Plasma Timekpr
Comment[en_GB]=Plasma Timekpr
Comment[eo]=Plasma Timekpr
Comment[es]=Plasma Timekpr
Comment[et]=Plasma Timekpr
Comment[fi]=Plasma Timekpr
Comment[fr]=Plasma Timekpr
Comment[ga]=Plasma Timekpr
Comment[gl]=Plasma Timekpr
Comment[hu]=Plasma Timekpr
Comment[it]=Plasma Timekpr
Comment[ja]=Plasma Timekpr
Comment[kk]=Plasma Timekpr
Comment[km]=ប្លាស្មា Timekpr
Comment[ko]=Plasma Timekpr
Comment[lv]=Plasma Timekpr
Comment[nb]=Plasma Timekpr
Comment[nds]=Plasma Timekpr
Comment[nl]=Plasma Timekpr
Comment[nn]=Plasma Timekpr
Comment[pa]=ਪਲਾਜ਼ਮਾ Timekpr
Comment[pl]=Plazma Timekpr
Comment[pt]=Plasma Timekpr
Comment[pt_BR]=Plasma Timekpr
Comment[ro]=Plasma Timekpr
Comment[ru]=Plasma Timekpr
Comment[sr@ijekavian]=Плазмин Timekpr
Comment[sr@ijekavianlatin]=Plasmin Timekpr
Comment[sr@latin]=Plasmin Timekpr
Comment[sr]=Плазмин Timekpr
Comment[sv]=Plasma Timekpr
Comment[tr]=Plasma Timekpr
Comment[uk]=Плазма Timekpr
Comment[x-test]=xxPlasma Timekprxx
Comment[zh_CN]=Plasma Timekpr
Comment[zh_TW]=Plasma Timekpr
Icon=timekpr-kde
Name=Timekpr
Name[ast]=Timekpr
Name[bg]=Timekpr
Name[ca@valencia]=Timekpr
Name[ca]=Timekpr
Name[cs]=Timekpr
Name[da]=Timekpr
Name[de]=Timekpr
Name[el]=Timekpr
Name[en_GB]=Timekpr
Name[eo]=Timekpr
Name[es]=Timekpr
Name[et]=Timekpr
Name[fi]=Timekpr
Name[fr]=Timekpr
Name[ga]=Timekpr
Name[gl]=Timekpr
Name[hu]=Timekpr
Name[it]=Timekpr
Name[ja]=Timekpr
Name[kk]=Timekpr
Name[km]=Timekpr
Name[ko]=Timekpr
Name[lv]=Timekpr
Name[nb]=Timekpr
Name[nds]=Timekpr
Name[nl]=Timekpr
Name[nn]=Timekpr
Name[pa]=Timekpr
Name[pl]=Timekpr
Name[pt]=Timekpr
Name[pt_BR]=Timekpr
Name[ro]=Timekpr
Name[ru]=Timekpr
Name[sr@ijekavian]=Timekpr
Name[sr@ijekavianlatin]=Timekpr
Name[sr@latin]=Timekpr
Name[sr]=Timekpr
Name[sv]=Timekpr
Name[tr]=Timekpr
Name[uk]=Timekpr
Name[x-test]=xxTimekprxx
Name[zh_CN]=Timekpr
Name[zh_TW]=Timekpr
Type=Service
X-KDE-Library=plasma_applet_timekpr
X-KDE-PluginInfo-Author=Simone Gaiarin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=simgunz@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=timekpr
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-NotificationArea=true
